<title>{{ page.title }}</title>
<meta name="description" content="Ryan Nguyen">
<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
<link rel="stylesheet" href="{{ site.url }}/skin/ryan/css/theme.css">

<style>
    #html_input{height: 50vh;}
    #html_result{height: 50vh;}

    .text-type .sec-text{
        color: red;
        position: relative;
    }

    .text-type .sec-text::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: 2px solid green;
        left: 0;
        bottom: 0;
        animation: typing 3s steps(10) infinite;
        background-color: #f8f9fa;
    }
    @keyframes typing {
        40%, 60% {
            left: calc(100% + 30px);
        }
        100%{
            left: 0;
        }
    }
</style>