<header class="container page-header mt-2" id="page-header">
    <div class="menu bg-light rounded">
        <div class="menu-wrapper">
            <ul class="menu-items">
                <li class="menu-item navbar-brand">
                    <a class="text-secondary font-weight-bold" href="{{ site.url }}">
                        <span>HOME</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-type mt-3 mb-5 text-center bg-light">
        <div class="menu-item font-weight-bold">
            <span class="h1 font-weight-bold first-text">I'm</span>
            <span class="h1 font-weight-bold sec-text">Developer</span>
        </div>
    </div>
</header>