<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";
        body{
            overflow: hidden;
            margin: 0;
        }
        #word{
            font-family: Megrim, cursive;
            font-size: 20vh;
            position: absolute;
            margin: 10px;
            /*bottom: 0;*/
            color: #fc0;
            -webkit-text-stroke: 0.15vh #c0f;
        }
    </style>
</head>
<body>
<main id="content" role="main">
    {{ content }}
</main>
{% include footer_js.html %}
</body>
</html>